<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Padelshooter3a1</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>com.padelshooter.padelshooter3a1</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Padelshooter3a1</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconName</key>
            <string>AppIcon</string>
            <key>CFBundleIconFiles</key>
            <array>
                <string>20</string>
                <string>29</string>
                <string>40</string>
                <string>50</string>
                <string>57</string>
                <string>58</string>
                <string>60</string>
                <string>72</string>
                <string>76</string>
                <string>80</string>
                <string>87</string>
                <string>100</string>
                <string>114</string>
                <string>120</string>
                <string>144</string>
                <string>152</string>
                <string>167</string>
                <string>180</string>
                <string>1024</string>
            </array>
        </dict>
    </dict>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Your app uses Bluetooth to connect to nearby devices.</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>Your app needs Bluetooth access to communicate with peripheral devices.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Your app needs location access to detect Bluetooth devices in the background.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Your app needs location access to detect Bluetooth devices while the app is in use.</string>
    <key>CFBundleLocalizations</key>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>App needs access to the photo library</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>App needs access to add photos to your library</string>
    <key>NSDocumentsFolderUsageDescription</key>
    <string>App needs access to the documents folder</string>
    <array>
        <string>en</string>
        <string>es</string>
        <string>fr</string>
        <string>zh</string>
        <string>de</string>
        <string>pt</string>
        <string>it</string>
        <string>sv</string>
        <string>fi</string>
        <string>pl</string>
        <string>ja</string>
        <string>ar</string>
        <string>du</string>
    </array>
</dict>
</plist>